* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

h1,
h2 {
  font-family: Garamond, sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}


.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #080808;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: blue;
}

.intro_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #e6cdf7;
  background-image: linear-gradient(62deg, #5e4f69 0%, #c99beb 100%);
}

.intro_section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #f4f0f7;
}

.resume_section {
  text-align: center;
  padding: 10rem 2rem;
  background: white;
}

.resume_section > h1 {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid grey;
}

@media (max-width: 28.75em) {
  .resume_section > h1 {
    font-size: 4rem;
  }
}

.resume_iframe {
  position: center;
  width: 100%;
  height: 100%;
}

.projects_section {
  text-align: center;
  padding: 10rem 2rem;
  background: blue;
}

.project_section_header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid grey;
}

@media (max-width: 28.75em) {
  .project_section_header {
    font-size: 4rem;
  }
}

.project_organization {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .project_organization {
    padding: 6rem 1rem;
  }

  .project_organization {
    grid-template-columns: 1fr;
  }
}

.project_link {
  background: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project_image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project_title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: grey;
}

.contact_header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact_header > h2 {
    font-size: 4rem;
  }
}

.contact_header > p {
  font-style: italic;
}

.contact_links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact_btn {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
